In [59]:
string="anwesha"
rev_string= string[::-1]
print(rev_string)

ahsewna

In [60]:
#check if string is palindrome.
string = str(input('enter your string:'))
rev_string=string[::-1]
if (string == rev_string) :
    print('the string is a palindrome')
else:
    print('the string is not a palindrome')

enter your string:
the string is a palindrome

In [61]:
#string to uppercase
string = str(input('enter your string:'))
string_upper = string.upper()
print(string_upper)

enter your string:

In [ ]:
#string to lowercase
string = str(input('enter your string:'))
string_lower = string.lower()
print(string_lower)

In [ ]:
#count no. of vowels in a string
string = str(input('enter your string:'))
vowels = ['a','e','i','o','u']
count=0
for x in string:
    for y in vowels:
        if (x==y):
            count += 1
print(count)

In [ ]:
#find no. of consonants in a string  
ccount = 0;  
str = input('enter your string:')  
for i in range(0,len(str)):   
    if str[i] in ('a',"e","i","o","u"):  
        vcount = vcount + 1;  
    elif (str[i] >= 'a' and str[i] <= 'z'):  
        ccount = ccount + 1;   
print("Total number of  consonant are" );  
print(ccount);

In [ ]:
#remove all whitespace from str
str = input('enter your string:')  
new_str = str.replace(" ","")

print(new_str)

In [4]:
#find length of a string without using len function
sen = str(input('enter your string:'))
sen1=sum(1 for x in sen)
print(sen1)

enter your string:wwfty7uyhbv
11

In [ ]:
#Check if a string contains a specific word.
sen = str(input('enter your string:'))
count=0
for i in range(0,len(sen)):   
    if sen[i] in ('beauty'):  
        count = count + 1;
print ('string contains the specific word beauty.')

In [ ]:
#replace word in str with another
sen = 'i love ice cream'
new_sen = sen.replace('ice cream','gelato')
print(new_sen)

In [ ]:
#Count the occurrences of a word in a string.
sen = 'i love ice cream'
count=0
for i in range(0,len(sen)):     
    count = count + 1;
print(count)

In [ ]:
#Find the first occurrence of a word in a string.
sen = 'i love ice cream'
count=0
for i in range(0,len(sen)):
    count=count+1
    new_sen=sen.find('ice cream')
print(new_sen)

In [ ]:
sen = 'i love that one ice cream'
word = 'ice'
count=0
for i in range(0,len(sen)):
    count=count+1
    new_sen=sen.rindex('ice')
print(new_sen)

In [ ]:
#Split a string into a list of words.
sen = str(input('enter a sentence'))
for i in range(0,len(sen)):
     if sen[i] in (' '):
            new_sen=sen.split()
print(new_sen)

In [ ]:
#Join a list of words into a string.
sen=['i', 'love', 'that', 'one', 'ice', "cream'"]
emptystr = ""
for i in sen:
    emptystr += i +' '
print(emptystr)

In [ ]:
#Convert a string where words are separated by spaces to one where words
#are separated by underscores.
string1 = "i love that one ice cream"
string2 = 0
for i in range(0,len(string1)):
     if string1[i] in (' '):
            string2=string1.replace(' ','_')
print(string2)

In [ ]:
#Check if a string starts with a specific word or phrase.
string1 =  "i love that one ice cream"
word='i'
if (string1[0]=='i'):
    print('string starts with a specific word')
else:
    print('string does not starts with a specific word')

In [ ]:
#Convert a string to title case (e.g., "hello world" to "Hello World").
string = "Hi i am anwesha mandal"
new_string = string.title()
print(new_string)

In [ ]:
#Find the longest word in a string.
string = "I love travelling to new destinations"
word = 0
length=0
for word in string.split():
    if(len(word) > length):
        length = len(word)
print(word)
print(length)

In [ ]:
#Find the shortest word in a string.
string = "I love travelling to new destinations"
shortest = min(string.split(), key=len)
print("Shortest word is: ", shortest)
print("And its length is: ", len(shortest))

In [ ]:
#Reverse the order of words in a string.
string = "I love travelling to new destinations"
new_string=string[::-1]
print(new_string)

In [ ]:
#Check if a string is alphanumeric.
string='g987h24'
if string.isalnum()is True:
    print("string is alphanumeric.")
else:
    print('string is not alphanumeric.')

In [ ]:
#Extract all digits from a string.
a = []
line = "abcd 1234 efgh 56.78 ij"
for word in line.split():
    try:
        a.append(float(word))
    except ValueError:
        pass
print(a)

In [ ]:
#Extract all digits from a string.
a = []
line = "abcd 1234 efgh 56.78 ij"
for w in line.split():
    if w.isdigit():
        a.append(w)
    else:
        continue
print(a)

In [ ]:
#Extract all alphabets from a string.
a = []
line = "abcd 1234 efgh 56.78 ij"
for w in line.split():
    if w.isalpha():
        a.append(w)
print(a)

In [ ]:
#Count the number of uppercase letters in a string.
a = "I Love Travelling To New Destinations"
l=[]
count=0
for w in a:
    if (w.isupper()):
        count=count+1
        l.append(w)
print(count)

In [29]:
#Count the number of lowercase letters in a string.
a = "I Love Travelling To New Destinations"
l=[]
count=0
for w in a:
    if (w.islower()):
        count=count+1
        l.append(w)
print(count)

26

In [28]:
#Swap the case of each character in a string.
a = "I Love Travelling To New Destinations"
l=""
count=0
for w in a:
    if (w.islower()):
        l+=w.upper()
    else:
        l+=w.lower()
print(l)

i lOVE tRAVELLING tO nEW dESTINATIONS

In [ ]:
#Remove a specific word from a string.
a = "I Love Travelling To New Destinations"
c=0
c=a.replace("Love"," ")
print(c)

In [ ]:
#Check if a string is a valid email address.
id1 = "example@domain.com"
check = "@"
for w in id1:
    if w==check:
        print('valid email id')
        break;
else:
    print('invalid email id')

In [2]:
#Extract the username from an email address string.
test_str = str(input("enter your email id -: "))
print("The original string is : " + str(test_str))
res = test_str[ : test_str.index('@')] 
print("The extracted domain name : " + str(res))

enter your email id -: reachanwesha@gmail.com
The original string is : reachanwesha@gmail.com
The extracted domain name : reachanwesha

In [3]:
#Extract the domain name from an email address string.
test_str = str(input("enter your email id -: "))
print("The original string is : " + str(test_str))
res = test_str[ test_str.index('@') + 1 : ]
print("The extracted domain name : " + str(res))

enter your email id -: reachanwi@gmail.com
The original string is : reachanwi@gmail.com
The extracted domain name : gmail.com

In [13]:
#Replace multiple spaces in a string with a single space.
string1 = "i   love   mangoes"
string = ""
for w in string1.split():
    string=string1.replace("  ","")
print(string)

i love mangoes

In [15]:
pip install validators

Collecting validators
  Downloading validators-0.21.2-py3-none-any.whl (25 kB)
Installing collected packages: validators
Successfully installed validators-0.21.2
WARNING: There was an error checking the latest version of pip.
Note: you may need to restart the kernel to use updated packages.

In [18]:
#Check if a string is a valid URL.
import validators
import validators
valid=validators.url('https://www.codespeedy.com/')
if valid==True:
    print("Url is valid")
else:
    print("Invalid url")

Url is valid

In [37]:
#Find the frequency of each character in a string.
string = "i love travelling to new destinations"
ch1_i = 0
ch2_l = 0
ch3_o = 0
ch4_v = 0
ch5_e = 0
ch6_t = 0
ch7_r = 0
ch8_a = 0
ch9_n = 0
ch10_g = 0
ch11_w = 0
ch12_d = 0
ch13_s = 0
for w in string :
    ch1_i=string.count("i")
print('the frequency of i character in a string',ch1_i)
ch2_l=string.count("l")
print('the frequency of l character in a string',ch2_l)
ch3_o=string.count("o")
print('the frequency of o character in a string',ch3_o)
ch4_v=string.count("v")
print('the frequency of v character in a string',ch4_v)
ch5_e=string.count("e")
print('the frequency of e character in a string',ch5_e)
ch6_t=string.count("t")
print('the frequency of t character in a string',ch6_t)
ch7_r=string.count("r")
print('the frequency of r character in a string',ch7_r)
ch8_a=string.count("a")
print('the frequency of a character in a string',ch8_a) 
ch9_n=string.count("n")
print( 'the frequency of n character in a string',ch9_n)     
ch10_g=string.count("g")
print('the frequency of g character in a string',ch10_g)
ch11_w=string.count("w")
print('the frequency of w character in a string', ch11_w)
ch12_d=string.count("d")
print('the frequency of d character in a string',ch12_d) 
ch13_s=string.count("s")
print('the frequency of s character in a string',ch13_s)

the frequency of i character in a string 4
the frequency of l character in a string 3
the frequency of o character in a string 3
the frequency of v character in a string 2
the frequency of e character in a string 4
the frequency of t character in a string 4
the frequency of r character in a string 1
the frequency of a character in a string 2
the frequency of n character in a string 4
the frequency of g character in a string 1
the frequency of w character in a string 1
the frequency of d character in a string 1
the frequency of s character in a string 2

In [56]:
#Remove all punctuation from a string.
test_str = "hello, world ! how do you do ? ;"
punc = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
for w in test_str:
    if w in punc:
        test_str = test_str.replace(w, "")
print("The string after punctuation filter : " + test_str)

The string after punctuation filter : hello world  how do you do

In [7]:
#Check if a string contains only digits.
string = input('enter your string: ')
for w in string:
    if w.isdigit(): 
        print("string contains only digits")
    else:
        print("string doesnot contains only digits")

enter your string: 23rt
string contains only digits
string contains only digits
string doesnot contains only digits
string doesnot contains only digits

In [8]:
#Check if a string contains only alphabets.
string = input('enter your string: ')
for w in string:
    if w.isalpha():
        print("string contains only alphabets")
    else:
        print("string doesnot contains only alphabets")

enter your string: 3456789iuytrdfvbn
string doesnot contains only alphabets
string doesnot contains only alphabets
string doesnot contains only alphabets
string doesnot contains only alphabets
string doesnot contains only alphabets
string doesnot contains only alphabets
string doesnot contains only alphabets
string contains only alphabets
string contains only alphabets
string contains only alphabets
string contains only alphabets
string contains only alphabets
string contains only alphabets
string contains only alphabets
string contains only alphabets
string contains only alphabets
string contains only alphabets

In [12]:
#Convert a string to a list of characters.
string = "sdfgh"
list_str = list(string)
type(list_str)
print(list_str)

['s', 'd', 'f', 'g', 'h']

In [18]:
#Check if two strings are anagrams.
str_1 = input("enter your first word: ")
str_2 = input("enter your second word: ")
new_str1 = sorted(str_1)
new_str2 = sorted(str_2)
if (new_str1== new_str2):
    print(str_1,str_2, 'two strings are anagrams.')

enter your first word: listen
enter your second word: silent
listen silent two strings are anagrams.

In [19]:
#Encode a string using a Caesar cipher.

In [ ]:
#Decode a Caesar cipher encoded string.

In [38]:
pip install counter

Collecting counter
  Downloading Counter-1.0.0.tar.gz (5.2 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: counter
  Building wheel for counter (setup.py) ... done
  Created wheel for counter: filename=Counter-1.0.0-py3-none-any.whl size=5394 sha256=f3a79626ef5b6d6b31fdde183140681434c38175abe9cf389ddc1437b57a6b92
  Stored in directory: /Users/anwesha/Library/Caches/pip/wheels/05/78/ee/7f4336de4d2631224a4b303be03e48eeb01db89bb5bd790f5d
Successfully built counter
Installing collected packages: counter
Successfully installed counter-1.0.0
WARNING: There was an error checking the latest version of pip.
Note: you may need to restart the kernel to use updated packages.

In [41]:
#Find the most frequent word in a string.
 
from collections import Counter
data_set = "Welcome to the world of Geeks " \
"This portal has been created to provide well written well" \
"thought and well explained solutions for selected questions " \
"If you like Geeks for Geeks and would like to contribute " \
"here is your chance You can write article and mail your article " \
" to contribute at geeksforgeeks org See your article appearing on " \
"the Geeks for Geeks main page and help thousands of other Geeks. " \

split_it = data_set.split()

Counters_found = Counter(split_it)
most_occur = Counters_found.most_common(4)
print(most_occur)

[('Geeks', 5), ('to', 4), ('and', 4), ('for', 3)]

In [42]:
#Find all unique words in a string.
str1 = input("Please enter a sentence: ")

print("The words in that sentence are: ", str1.split())

unique = set(str1)
print("Here are the unique words in that sentence: ",unique)

Please enter a sentence: geeks for geeks
The words in that sentence are:  ['geeks', 'for', 'geeks']
Here are the unique words in that sentence:  {'r', 'k', 'o', 'e', 's', ' ', 'f', 'g'}

In [43]:
#Count the number of syllables in a string.

SyntaxError: invalid decimal literal (<ipython-input-43-2da1d147909c>, line 2)

In [64]:
#Check if a string contains any special characters.
string = input("enter your string- ")
special_ch = ("@ ! # $ % ^ & * () _ ")
for w in string:
    for y in special_ch:
        if (w==y):
            print("string contains special charactors")
    break;
else:
    print("no special chacartors")

enter your string- @aasdfgh
string contains special charactors

In [2]:

for i in range(0, len(list)):
            if (list[i] == word):
                count = count + 1
 
            if(count == N):
                del(list[i])
                return True
 
    return False

In [25]:
#Remove the nth word from a string.
def RemoveIthWord(list, word, N):
    count = 0
 
    for i in range(0, len(li)):
            if (li[i] == word):
                count = count + 1
 
            if(count == N):
                del(li[i])
                return True
    
 
    return False

li = list(mystring.split(" "))
print(li)
count = 0
mystring = "i enjoy coding" 
word = input("enter your word to be del- ")
N = int(input('enter the index you wish to del - '))
 
flag = RemoveIthWord(li, word, N)
 
if (flag == True):
    print("Updated list is: ", li)
else:
    print("Item not Updated")

['i', 'enjoy', 'coding']
enter your word to be del- enjoy
enter the index you wish to del - 1
Updated list is:  ['i', 'coding']

In [44]:
#Insert a word at the nth position in a string.
def InsertIthWord(li, word, N):
    count = 0
 
    for i in range(0, len(li)):
            if (li[i] == word):
                count = count + 1
 
            if(count == N):
                li.insert(N,input("enter your word to be inserted - "))
                return True
                
    
 
    return False

li = list(mystring.split(" "))
print(li)
count = 0
mystring = "i enjoy coding and cooking" 
word = input("enter your word to be inserted - ")
N = int(input('enter the index you wish to insert - '))
 
flag = InsertIthWord(li, word, N)
 
if (flag == True):
    print("Updated list is: ", li)
else:
    print("Item not Updated")

['i', 'enjoy', 'coding', 'and', 'cooking']
enter your word to be inserted - wow
enter the index you wish to insert - 2
Item not Updated

In [45]:
#Convert a CSV string to a list of lists.
x = 'apple,banana,cherry'
output = x.split(',')
print(output)

['apple', 'banana', 'cherry']

# 2. Lists

In [58]:
#Create a list with integers from 1 to 10.
mylist=[]
for i in range(1,11):
    mylist.append(i)
print(mylist)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
#Find the length of a list without using the `len()` function.
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
mylist1=sum(1 for x in mylist)
print(mylist1)

10

10

In [6]:
#Append an element to the end of a list.
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
mylist.append(11)
print(mylist)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [11]:
#Insert an element at a specific index in a list.
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
a=int(input('enter an element you wish to enter: '))
i=int(input('enter an index you wish your element to enter :'))
mylist.insert(i,a)
print(mylist)

enter an element you wish to enter: 2
enter an index you wish your element to enter :5
[1, 2, 3, 4, 5, 2, 6, 7, 8, 9, 10]

In [17]:
#Remove an element from a list by its index.
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
#a=int(input('enter an element you wish to remove: '))
i=int(input('enter an index you wish your element to remove :'))
mylist.remove(i)
print(mylist)

enter an index you wish your element to remove :3
[1, 2, 4, 5, 6, 7, 8, 9, 10]

In [18]:
#Remove an element from a list by its value.
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
a=int(input('enter an element you wish to remove: '))
#i=int(input('enter an index you wish your element to remove :'))
mylist.remove(a)
print(mylist)

enter an element you wish to remove: 10
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
#Check if an element exists in a list.
mylist = ["apple","banana","roses","tulips","raddish","grapes"]
check = (input("enter the element you wish to check : "))
count=0
for x in mylist:
    if (x==check):
        count+=1
        break;
if(count==1):
    print(check,'element exists in the list')
else:
    print('element doesnot exists in the list')

enter the element you wish to check : raddish
raddish element exists in the list

In [28]:
#Find the index of the first occurrence of an element in a list.
mylist = ["apple","banana","raddish","roses","tulips","raddish","grapes"]
check = (input("enter the element you wish to check the first occurance : "))
count=0
for x in mylist:
    if (x==check):
        count+=1
        break;
if(count==1):
    print('the index of', check, 'is', mylist.index(check))
else:
    print('error')

enter the element you wish to check the first occurance : raddish
the index of raddish is 2

In [33]:
#Count the occurrences of an element in a list.
mylist = ["apple","raddish","banana","raddish","roses","tulips","raddish","grapes"]
check = (input("enter the element you wish to check the occurances : "))
count=0
for x in mylist:
    if (x==check):
        count+=1
        print(mylist.count(check))
        break;

enter the element you wish to check the occurances : raddish
3

In [35]:
#Reverse the order of elements in a list.
mylist = ["apple","raddish","banana","raddish","roses","tulips","raddish","grapes"]
rev_list = mylist[::-1]
print(rev_list)

['grapes', 'raddish', 'tulips', 'roses', 'raddish', 'banana', 'raddish', 'apple']

In [7]:
#Sort a list in ascending order.
mylist = [234567,3,6,4,676,234567]
mylist.sort()
print(mylist)

[3, 4, 6, 676, 234567, 234567]

In [8]:
#Sort a list in descending order.
mylist = [234567,3,6,4,676,234567]
mylist.sort()
mylistfinal = mylist[::-1]
print(mylistfinal)

[234567, 234567, 676, 6, 4, 3]

In [17]:
#Create a list of even numbers from 1 to 20.
mylist=[]
for i in range(1,21):
    if i%2==0:
        mylist.append(i)
print(mylist)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [18]:
#Create a list of odd numbers from 1 to 20.
mylist=[]
for i in range(1,21):
    if i%2 != 0:
        mylist.append(i)
print(mylist)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [19]:
#Find the sum of all elements in a list.
mylist = [234567,3,6,4,676,234567]
sum_mylist = sum(mylist)
print(sum_mylist)

469823

In [21]:
#Find the maximum value in a list.
mylist = [234567,3,6,4,676,234567]
max_value = max(mylist)
print(max_value)

234567

In [24]:
#Find the minimum value in a list.
mylist=[]
for i in range(1,21):
    if i%2 != 0:
        mylist.append(i)
print(mylist)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [28]:
#Create a list of squares of numbers from 1 to 10.
mylist=[]
a=0
for i in range(1,11):
    a=i*i
    #i++    
    mylist.append(a)
print(mylist)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [36]:
#Create a list of random numbers.
import random
rand_list=[]
n=10
for i in range(n):
    rand_list.append(random.randint(3,9))
print(rand_list)

[8, 3, 3, 6, 7, 6, 7, 9, 4, 7]

In [44]:
#Remove duplicates from a list.
mylist = [2,134,78,45,5,78,5,6,7,8,3,5,7,44]
dup = []
for i in mylist :
    dup=list(set(mylist))
print(dup)

[2, 3, 5, 134, 6, 7, 8, 44, 45, 78]

In [10]:
#Find the common elements between two lists.
mylist1 = ['apple','banana','pears','grapes','guava','kiwi']
mylist2 =['mangoes','sitaphal','apple','banana','pears','grapes','guava','kiwi']
l=[]
count = 0
for i in mylist1:
    for j in mylist2:
        if (i==j):
            l.append(j)
print("Common elements: ",l)

Common elements:  ['apple', 'banana', 'pears', 'grapes', 'guava', 'kiwi']

In [11]:
#Merge two lists.
mylist1 = ['apple','banana','pears','grapes','guava','kiwi']
mylist2 =['mangoes','sitaphal','apple','banana','pears','grapes','guava','kiwi']
print(mylist1+mylist2)

['apple', 'banana', 'pears', 'grapes', 'guava', 'kiwi', 'mangoes', 'sitaphal', 'apple', 'banana', 'pears', 'grapes', 'guava', 'kiwi']

In [38]:
#Multiply all elements in a list by 2.
l = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
result = 1
for i in l:
    result = result * 2
    print(result)

2
4
8
16
32
64
128
256
512
1024

In [40]:
#Filter out all even numbers from a list.
mylist=[]
mylist1 =[]
for i in range(1,11):
    mylist.append(i)
print(mylist)

for i in range(1,11):
    if i%2==0:
        mylist1.append(i)
print(mylist1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10]

In [54]:
#Convert a list of strings to a list of integers.
mylist = [ '1','2','3','4','5']
[int(x) for x in mylist]

[1, 2, 3, 4, 5]

In [60]:
#Convert a list of integers to a list of strings.
mylist = [1,2,3,4,5]
type(mylist)
[str(x) for x in mylist]

['1', '2', '3', '4', '5']

In [65]:
#Flatten a nested list.
def flat_list(my_list):
    my_list = [[1], [2, 3], [4, 5, 6, 7]]
    flat_mylist = [x for sublist in my_list for x in sublist]
print(flat_mylist)

[1, 2, 3, 4, 5, 6, 7]

In [69]:
#Create a list of the first 10 Fibonacci numbers.
a = 0
b = 1
n = 10
next_number = b
count = 1
 
while count <= n:
    print(next_number, end=" ")
    count += 1
    a, b = b, next_number
    next_number = a + b
print()

1 2 3 5 8 13 21 34 55 89

In [77]:
#Check if a list is sorted.
mylist = ['Mangoes','Sitaphal','Apple','Banana','Pears','Grapes','Guava','Kiwi']
mylist.sort()
print(mylist)

['Apple', 'Banana', 'Grapes', 'Guava', 'Kiwi', 'Mangoes', 'Pears', 'Sitaphal']

In [30]:
#Rotate a list to the left by `n` positions.

leftList = [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

leftRotate = 3

print('Original List Items Before Left Rotating')
print(leftList)

list2 = leftList[leftRotate:] + leftList[:leftRotate]

print('\nFinal List Items After Left Rotating')
print(list2)

Original List Items Before Left Rotating
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

Final List Items After Left Rotating
[20, 25, 30, 35, 40, 45, 50, 5, 10, 15]

In [9]:
#Rotate a list to the right by `n` positions.
n = 3
 
list_1 = [1, 2, 3, 4, 5, 6]
list_1 = (list_1[len(list_1) - n:len(list_1)]
                 + list_1[0:len(list_1) - n])
print(list_1)

[4, 5, 6, 1, 2, 3]

In [18]:
for num in range(1,51):
    if all(num%i!=0 for i in range(2,num)):
        print (num)

1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [23]:
#Split a list into chunks of size `n`.

list_1 = [10,20,30,40,50,60]
index = int(input('enter the index you want to slice your list into -: '))
first_half = list_1 [:index]
second_half = list_1 [index:]
print('The primary list is: ',list_1)
print("First slice of list is ",first_half)
print("Second slice of list is ",second_half)

enter the index you want to slice your list into -: 4
The primary list is:  [10, 20, 30, 40, 50, 60]
First half of list is  [10, 20, 30, 40]
Second half of list is  [50, 60]

In [6]:
#Find the second largest number in a list.
my_list = [4,456,6543,56,7,2,34,6789876543,456789876543,2345,5432]
my_list.sort()
print('list in ascending order is - ',my_list)
max_int = max(my_list)
print('maximum element is' , max_int)
my_list.remove(max_int)
print(my_list)
scnd_lrgst_num = max(my_list)
print('the second largest number in the list is,',scnd_lrgst_num)

list in ascending order is -  [2, 4, 7, 34, 56, 456, 2345, 5432, 6543, 6789876543, 456789876543]
maximum element is 456789876543
[2, 4, 7, 34, 56, 456, 2345, 5432, 6543, 6789876543]
the second largest number in the list is, 6789876543

In [9]:
#Replace every element in a list with its square.
list_1 = [10, 20, 30, 40, 50, 60]

new = []
for number in list_1:
    new.append(number**2)
print(new)

[100, 400, 900, 1600, 2500, 3600]

In [11]:
#Convert a list to a dictionary where list elements become keys and their
#indices become values.
list_1 = [10, 20, 30, 40, 50, 60]
d1=dict(enumerate(list_1))
print(d1)

{0: 10, 1: 20, 2: 30, 3: 40, 4: 50, 5: 60}

In [18]:
#Shuffle the elements of a list randomly.
import random
list_1 = [10, 20, 30, 40, 50, 60]
list_2 = random.shuffle(list_1 )
print(list_1)

[40, 50, 60, 10, 20, 30]

In [34]:
#Create a list of the first 10 factorial numbers.
input_set = {1, 2, 3, 4, 5}
fact = 1
for item in input_set:
    for number in range(1,item+1):
        fact = fact * number
    print ("Factorial of", item, "is", fact)

Factorial of 1 is 1
Factorial of 2 is 2
Factorial of 3 is 12
Factorial of 4 is 288
Factorial of 5 is 34560

In [37]:
#Check if two lists have at least one element in common.
list_1 = [10, 20, 30, 40, 50, 60]
my_list = [4,456,6543,56,7,2,34,6789876543,456789876543,2345,5432]
for i in list_1:
    for j in my_list:
        if (i==j):
            print('two lists have at least one element in common')
else:
    print('No common elements in two lists')

No common elements in two lists

In [44]:
#Remove all elements from a list.
my_list = [4,456,6543,56,7,2,34,6789876543,456789876543,2345,5432]
my_list1 = mylist.clear()
print(my_list1)

None

In [51]:
#Replace negative numbers in a list with 0.
my_list = [-4,456,6543,56,7,-2,34,6789876543,-456789876543,2345,5-432]
for i in my_list:
    if i>=0:
        continue;
    else:
        new_list = [0 if i <= 0 else i for i in my_list]
print(new_list)

[0, 456, 6543, 56, 7, 0, 34, 6789876543, 0, 2345, 0]

In [56]:
#Convert a string into a list of words.
my_string = 'apple','banana','pineapple','pears'
print(list(my_string))

['apple', 'banana', 'pineapple', 'pears']

In [61]:
#Convert a string into a list of words.
my_string = "this is my string"
for i in my_string.split():
    print(my_string)

this is my string
this is my string
this is my string
this is my string

In [65]:
#Convert a string into a list of words.
phrase = "Hello world,I am learning Python!"
phrase_to_list = phrase.split(",")
print(phrase_to_list)

<class 'str'>
<class 'list'>
['Hello world', 'I am learning Python!']

In [73]:
#Convert a list of words into a string.
mylist = ['Hello world, i am learning Python!']
str1 = ""
print(str1.join(mylist))

Hello world, i am learning Python!

In [75]:
#Create a list of the first `n` powers of 2.
n = int(input('enter the number of powers of 2 -:'))
mylist = 2**n
print(mylist)

enter the number of powers of 2 -:2
4

In [83]:
#Find the longest string in a list of strings.
mylist = ["this is the longest string","i think i love mangoes and jamun","i am so obsessed by myself and my ideology of world"]
max_list = -1
for i in mylist:
    if len(i)>max_list:
        my = i
print(i)

i am so obsessed by myself and my ideology of world

In [95]:
#Find the shortest string in a list of string
mylist = ['Mangoes','Sitaphal','Apple','Banana','Pears','Grapes','Guava','Kiwi']
min_list = 1
for i in mylist:
    if len(i) < min_list:
        my = i
print(i)

Kiwi

In [96]:
#Create a list of the first `n` triangular numbers.
def triangular_series( n ):
    j = 1
    k = 1
    for i in range(1, n + 1):
        print(k, end = ' ')
        j = j + 1 
        k = k + j
n = 5
triangular_series(n)

1 3 6 10 15

In [97]:
#Check if a list contains another list as a subsequence.
mylist = [1,2,3,4,5,6,[3,2,1]]
herlist = [3,2,1]
herlist in mylist

True

In [106]:
#Swap two elements in a list by their indices.
mylist = ['Mangoes','Sitaphal','Apple','Banana','Pears','Grapes','Guava','Kiwi']
mylist[0]= 'Sitaphal'
mylist[1]='Mangoes'
print(mylist)

['Sitaphal', 'Mangoes', 'Apple', 'Banana', 'Pears', 'Grapes', 'Guava', 'Kiwi']

# 3.Tuple

In [109]:
#1.Create a tuple with integers from 1 to 5.
tuple(range(1,6))

(1, 2, 3, 4, 5)

In [110]:
#Access the third element of a tuple.
mytuple = (1, 2, 3, 4, 5)
mytuple[2]

3

In [112]:
#Find the length of a tuple without using the `len()` function.
mytuple = (1, 2, 3, 4, 5, 6)
mytuple=sum(1 for x in mytuple)
print(mytuple)

6

In [119]:
#Count the occurrences of an element in a tuple.
mytuple = ('Mangoes','kiwi','kiwi','Sitaphal','Apple','Banana','Pears','Grapes','Guava','kiwi') 
count = 0
for i in mytuple:
    if (i=='kiwi'):
        count = count + 1;
print(count)

3

In [138]:
#Find the index of the first occurrence of an element in a tuple.
mytuple = (1,2,5,6,2,0,4,3,0,5)
target_tuple = int(input('Enter the element, whose index of the first occurrence of an element you wish to find'))

for i in mytuple:
    if (i==0):
        print(mytuple.index(target_tuple ))

Enter the element, whose index of the first occurrence of an element you wish to find4
6
6

In [146]:
#Check if an element exists in a tuple.
mytuple = (1,2,5,6,2,0,4,3,0,5)
check_ele = int(input('enter the element you want to check is - '))
count = 0
for i in mytuple:
    if(i == check_ele):
        count+=1
        break;
if(count==1):
    print(check_ele,'element exists in the tuple')
else:
    print('element doesnot exists in the tuple')

enter the element you want to check is - 5
5 element exists in the tuple

In [147]:
#Convert a list to a tuple.
tuple(list(range(0,11)))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [148]:
#Convert a tuple to a list.
list(tuple(range(0,11)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
#Unpack the elements of a tuple into variables.
mytuple = ('Mangoes',500) 
(fruits,grams)= mytuple
print(fruits)
print(grams)

Mangoes
500

In [7]:
#Create a tuple of even numbers from 1 to 10.
mytuple = tuple (range(1,11))
print(mytuple)  
for i in mytuple:
    if (i%2==0):
        print(i, end=",")

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
2,4,6,8,10,

In [8]:
#11.Create a tuple of odd numbers from 1 to 10.
mytuple = tuple (range(1,11))
print(mytuple)  
for i in mytuple:
    if (i%2!=0):
        print(i, end=",")

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
1,3,5,7,9,

In [9]:
#Concatenate two tuples.
mytuple = (1,2,3,4,5)
yourtuple = (2,5,5,3,54,4)
ourtuple = mytuple + yourtuple
print(ourtuple)

(1, 2, 3, 4, 5, 2, 5, 5, 3, 54, 4)

In [25]:
#Repeat a tuple three times.
mytuple = (1,2,3,4,5)*3
print(mytuple,end='')

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [27]:
#Check if a tuple is empty.
mytuple = (1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
if len(mytuple)==0:
    print('tuple is empty')
else:
    print('tuple is non-empty')

tuple is non-empty

In [30]:
#Create a nested tuple.
mytuple1 = (1,2,3,45,4),
mytuple2 = (2,3,5,6,45,4),
new_tuple = mytuple1+mytuple2 
print(new_tuple)

((1, 2, 3, 45, 4), (2, 3, 5, 6, 45, 4))

In [51]:
#Access the first element of a nested tuple.
tupple = ((1, 2, 3, 45, 4), (2, 3, 5, 6, 45, 4))
tupple[0][0]

1

In [52]:
#Create a tuple with a single element.
tuple(range(0,1))

(0,)

In [54]:
#Compare two tuples.
a = (1, 2, 3)
b = (1, 2, 5)
a < b

True

In [64]:
#Delete a tuple.
tupple = (1, 2, 3, 45, 4)
print(tupple)
del(tupple)
print("after deleting")
print(tupple)

(1, 2, 3, 45, 4)
after deleting

NameError: name 'tupple' is not defined

In [65]:
#Slice a tuple.
tupple=(1, 2, 3, 45, 4)
tupple[1:3]

(2, 3)

In [66]:
#Find the maximum value in a tuple.
tupple=(1, 2, 3, 45, 4)
print(max(tupple))

45

In [67]:
#Find the minimum value in a tuple.
tupple=(1, 2, 3, 45, 4)
print(min(tupple))

1

In [10]:
#Convert a string to a tuple of characters.
mytuple = "a b c"
mytuple = tuple(mytuple)

In [11]:
print(mytuple)

('a', ' ', 'b', ' ', 'c')

In [12]:
#Convert a tuple of characters to a string.
mystr = ('a', ',', 'b', ',', 'c')
mystr = str(mystr)

In [14]:
print(mystr)
type(mystr)

('a', ',', 'b', ',', 'c')

str

In [16]:
#Create a tuple from multiple data types.
mytuple = ['ani',300,'mangoes']
print(type(mytuple))
mytuple=tuple(mytuple)

<class 'list'>

In [17]:
print(type(mytuple))

<class 'tuple'>

In [28]:
#Check if two tuples are identical.
tuple1 = (1,2,3,4)
tuple2 = (5,6,7,8)
type(tuple1)
for i in tuple1:
    for j in tuple2:
        if(i==j):
            print('two tuples identical')
else:
    print('two tuples are not identical')

two tuples are not identical

In [32]:
#Sort the elements of a tuple.
tupple=(1, 2, 3, 45, 4)
sorted_tuple = sorted(tupple)
print(sorted_tuple)

[1, 2, 3, 4, 45]

In [39]:
#Convert a tuple of integers to a tuple of strings.
mytuple = (1, 2, 3, 45, 4)
print(type(mytuple))
my_str = ""
my_str=str(mytuple)
print(my_str)
print(type(my_str))

<class 'tuple'>
(1, 2, 3, 45, 4)
<class 'str'>

In [48]:
#Convert a tuple of strings to a tuple of integers.
my_str = "(7, 8, 9)"
intTuple = ()
#res=my_str.replace('""',",")
intTuple = tuple(int(ele) for ele in my_str.replace('(', '').replace(')', '').replace('...', '').split(', '))
print(intTuple)

(7, 8, 9)

In [53]:
#Merge two tuples.
tuple1=(1,2432,23,4,4,4,3,3)
tuple2=(3,4,32,8,434,3,3)
merge_tup=()
merge_tup = tuple1+tuple2
print(merge_tup)

(1, 2432, 23, 4, 4, 4, 3, 3, 3, 4, 32, 8, 434, 3, 3)

In [72]:
#Flatten a nested tuple.

In [5]:
#Create a tuple of the first 5 prime numbers.

lower = 2
upper = 12
lst=[]
print("first 5 prime numbers are")
for num in range(lower, upper + 1):
    for i in range(2, num):
        if (num % i) == 0:
            break
    else: 
        lst.append(num)

mytuple=tuple(lst)
print(mytuple)

first 5 prime numbers are
(2, 3, 5, 7, 11)

In [7]:
#Check if a tuple is a palindrome.
tupple=(1,2,2,1)
rev_tupple=tupple[::-1]
if (tupple == rev_tupple) :
    print('the string is a palindrome')
else:
    print('the string is not a palindrome')

the string is a palindrome

In [8]:
#Create a tuple of squares of numbers from 1 to 5.
tuple(range(1,6))

(1, 2, 3, 4, 5)

In [14]:
#Filter out all even numbers from a tuple.
tupple=(1, 2432, 23, 4, 4, 4, 3, 3, 3, 4, 32, 8, 434, 3, 3)
for i in tupple:
    if i%2==0:
        print(i,end=",")

2432,4,4,4,4,32,8,434,

In [255]:
#Multiply all elements in a tuple by 2.
tupple=(1, 2432, 23, 4, 32, 8, 434, 3, 3)
result=1
for i in tupple:
    result=result*2
    print(result)

2
4
8
16
32
64
128
256
512

In [33]:
tupple=(1, 2432, 23, 4, 32, 8, 434, 3, 3)
ne_tup=[]
for i in range(0,len(tupple)):
    ne_tup.append(tupple[i]*2)
ne_tup=tuple(ne_tup)
print(ne_tup)

(2, 4864, 46, 8, 64, 16, 868, 6, 6)

In [44]:
#Create a tuple of random numbers.
import random
#n = random.randint(0,10) 
l=[]
for i in range(0,10):
    l.append(random.randint(0,100))
print(tuple(l))

(61, 86, 8, 51, 90, 87, 45, 4, 73, 9)

In [46]:
#Check if a tuple is sorted.
tupple = (61, 86, 8, 51, 90, 87, 45, 4, 73, 9)
sort_tup=sorted(tupple)
print('sorted tuple is:',sort_tup)
if (tupple==sort_tup):
    print('the tupple is sorted')
else:
    print('tuple is not sorted')

sorted tuple is: [4, 8, 9, 45, 51, 61, 73, 86, 87, 90]
tuple is not sorted

In [4]:
#Rotate a tuple to the left by `n` positions.
leftList = [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

leftRotate = 3

print('Original List Items Before Left Rotating')
print(leftList)

list2 = leftList[leftRotate:] + leftList[:leftRotate]

print('\nFinal List Items After Left Rotating')
print(list2)

Original List Items Before Left Rotating
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

Final List Items After Left Rotating
[20, 25, 30, 35, 40, 45, 50, 5, 10, 15]

In [2]:
#Rotate a tuple to the right by `n` positions.
n = 3
 
list_1 = [1, 2, 3, 4, 5, 6]
list_1 = (list_1[len(list_1) - n:len(list_1)]
                 + list_1[0:len(list_1) - n])
print(list_1)
a=()
a=tuple(list_1)
print(a)

[4, 5, 6, 1, 2, 3]
(4, 5, 6, 1, 2, 3)

In [23]:
#Create a tuple of the first 5 Fibonacci numbers.
def gen_fib(n):
    if n <=1:
        return n
        my_fib.append(n)
    else:
        return gen_fib(n-1)+gen_fib(n-2)
gen_fib(5)
for i in range(0, 6):
    print(gen_fib(i), end=" ")

0 1 1 2 3 5

In [36]:
#Create a tuple from user input.
x,y,z,w,q= list(map(int, input("Enter multiple values: ").split()))
print("List of students: ", x,y,z,w,q)
a=[x,y,z,w,q]
print(tuple(a))

Enter multiple values: 1 2 3 4 5
List of students:  1 2 3 4 5
(1, 2, 3, 4, 5)

In [43]:
#43. Swap two elements in a tuple.
x = ("apple", "banana", "cherry")
y = list(x)
y[0] = "cherry"
y[-1] = "apple"
x = tuple(y)

print(x)

('cherry', 'banana', 'apple')

In [7]:
#44. Reverse the elements of a tuple.
x = (1,2,3,4)
y = list(x)
print(y)
a=(y[::-1])
x1=tuple(a)
print(x1)

[1, 2, 3, 4]
(4, 3, 2, 1)

In [21]:
#Create a tuple of the first `n` powers of 2.
x = (1,2,3,4)
def power():
    l=[]
    for i in range(0,len(x)):
        l.append(pow(x[i],2))
print(l)

[1, 4, 9, 16]

In [17]:
#Create a tuple of the first `n` powers of 2.
x = (1,2,3,4)
l=[]
for i in range(0,len(x)):
    l.append(pow(x[i],2))
print(tuple(l))

(1, 4, 9, 16)

In [37]:
#Find the shortest string in a tuple of strings.
x = ('ani',"mandal","xy")
y=list(x)
for i in y:
    if len(i)==1 or len(i)<=2:
        print(i,'shortest string')

    elif len(i)>=3 :
        continue
    else:
        print('not shortest')

xy shortest string

In [83]:
#Create a tuple of the first `n` triangular numbers.
tri=[]

def triangularnum(num):
    sum=0
    for i in range(1,num+1):
        
        sum += i
        tri.append(sum)
    #print(tri)
triangularnum(6)
tri_num=()
tri_num=tuple(tri)
print(tri_num)

(1, 3, 6, 10, 15, 21)

In [93]:
#Check if a tuple contains another tuple as a subsequence.
test_tup1=(1, 3, 6, 10, 15, 21,(2,3,4),(5,6,7))
test_tup2=(2,3,4)
res = set(test_tup2).issubset(test_tup1)
print(res)

False

In [116]:

#Create a tuple of alternating 1s and 0s of length `n`.

n=int(input('enter the length : '))
tuple([1,0] * n)

enter the length : 8

(1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

In [117]:
#Create a set with integers from 1 to 5.
set(range(1,6))

{1, 2, 3, 4, 5}

In [128]:
#Add an element to a set.
myset={1, 2, 3, 4, 5}
t=8
myset.add(t)
print(myset)

{1, 2, 3, 4, 5, 8}

In [129]:
#Remove an element from a set.
myset={1, 2, 3, 4, 5}
t=5
myset.remove(t)
print(myset)

{1, 2, 3, 4}

In [133]:
#Check if an element exists in a set.
myset={1, 2, 3, 4, 5}
t=5
for i in myset:
    if (i==t):
        print(t,'exists in a set')

5 exists in a set

In [134]:
#Find the length of a set without using the `len()` function.
myset={1, 2, 3, 4, 5}
sum=0
for i in myset:
    sum = sum+i
print(i)

5

In [137]:
#Clear all elements from a set.
myset={1, 2, 3, 4, 5}
myset.clear()
print(myset)

set()

In [139]:
#Create a set of even numbers from 1 to 10.
{i for i in range(1,11) if i%2==0}

{2, 4, 6, 8, 10}

In [140]:
#Create a set of odd numbers from 1 to 10.
{i for i in range(1,11) if i%2!=0}

{1, 3, 5, 7, 9}

In [143]:
#Find the union of two sets.
myset1={1, 3, 5, 7, 9}
myset2={2, 4, 6, 8, 10}
myset3={}
myset3=myset1.union(myset2)
print(myset3)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [165]:
#Find the intersection of two sets.
myset1={1, 3, 5, 7, 9}
myset2={5,6,7,8,9}
myset3={}
for i in myset1:
    for j in myset2:
        if (i==j):
            print(i)
    print('the intersection of two sets are')
    i=i+1

the intersection of two sets are
the intersection of two sets are
5
the intersection of two sets are
7
the intersection of two sets are
9
the intersection of two sets are

In [168]:
#Find the difference between two sets.
a={3,4,5,6}
b={1,2,3,4}
c={}
d={}
c=a-b
d=b-a
print(c)

print(d)

{5, 6}
{1, 2}

In [171]:
#Check if a set is a subset of another set.
a={3,4,5,6}
b={1,2,3,4}
c={}
c=a.issubset(b)
print(c)

False

In [172]:
#Check if a set is a superset of another set.
a={3,4,5,6}
b={1,2,3,4}
c={}
c=a.issuperset(b)
print(c)

False

In [180]:
#Create a set from a list.
a=list(range(0,11))
b={}
b=set(a)
print(b)
type(b)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

set

In [181]:
#Convert a set to a list.
a={0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
b=[]
b=list(a)
print(b)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [184]:
#Remove a random element from a set.
a={0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
ele=0
a.remove(ele)
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [186]:
#Pop an element from a set.
a={1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
a.pop()
print(a)

{2, 3, 4, 5, 6, 7, 8, 9, 10}

In [202]:
#Check if two sets have no elements in common.
myset1={1, 3, 5, 7, 9}
myset2={10,11,12}
myset3={}
for i in myset1:
    for j in myset2:
        if (i!=j):
            
            i=i+1
            print('no element in common')
    
        else:
            print('common elemnet exists')

no element in common
no element in common
no element in common
no element in common
no element in common
no element in common
no element in common
no element in common
no element in common
no element in common
no element in common
no element in common
no element in common
no element in common
no element in common

In [203]:
#Find the symmetric difference between two sets.
myset1={1, 3, 5, 7, 9}
myset2={5,6,7,8,9}
myset1.symmetric_difference(myset2)

{1, 3, 6, 8}

In [205]:
#Update a set with elements from another set.
myset1={1, 3, 5, 7, 9}
myset2={5,6,7,8,9}
myset1.update(myset2)
print(myset1)

{1, 3, 5, 6, 7, 8, 9}

In [217]:
lower = 2
upper = 12
lst=[]
print("first 5 prime numbers are")
for num in range(lower, upper + 1):
    for i in range(2, num):
        if (num % i) == 0:
            break
    else: 
        lst.append(num)

myset=set(lst)
print(myset)

first 5 prime numbers are
{2, 3, 5, 7, 11}

In [229]:
#Check if two sets are identical.
a={'a','b','c','d'}
b={'e','g','h','h'}
for i in a:
    for j in b:
        if (i==j):
            print(True)
else:
    print(False)

False

In [234]:
#Create a frozen set.
a=frozenset(['a','b','c','d'])
print('d'in a)
print('t'in a)

True
False

In [236]:
#Check if a set is disjoint with another set.
a={'a','b','c','d'}
b={'e','g','h','h'}
for i in a:
    for j in b:
        if (i==j):
            print(True,', not disjoint')
else:
    print(False,', yes disjoint')

False , yes disjoint

In [242]:
#Create a set of squares of numbers from 1 to 5.
{x**2 for x in range(1,6)}

{1, 4, 9, 16, 25}

In [243]:
#Filter out all even numbers from a set.
{i for i in range(1,11) if (i%2==0)}

{2, 4, 6, 8, 10}

In [268]:
#Multiply all elements in a set by 2.

l = {1, 4, 9, 16, 25, 36, 49, 64, 81, 100}
l=list(l)
result = []
for i in range(0,len(l)):
    result.append(l[i] * 2)
print(sorted(set(result)))

[2, 8, 18, 32, 50, 72, 98, 128, 162, 200]

In [281]:
#Create a set of random numbers.
import random
rand_list=[]
n=10
for i in range(n):
    rand_list.append(random.randint(3,9))
a={}
a=set(rand_list)
print(rand_list)

[8, 6, 9, 9, 9, 3, 4, 4, 9, 6]

In [283]:
#Check if a set is empty.
myset={2, 4, 6, 8, 10}
set_chk={}
if (myset==set_chk):
    print('empty set')
else:
    print('non-empty set')

non-empty set

In [296]:
#Create a nested set (hint: use frozenset).
#myset=frozenset([1,2,3,4,5,6])
s = set()
s.add((1,2))
s.add((2,3))
s.add((4,5))
#s{frozenset({1, 2}), frozenset({2, 3}), frozenset({4, 5})}
print(s)

{(2, 3), (4, 5), (1, 2)}

In [299]:
#Remove an element from a set using the discard method.
a={2, 4, 6, 8, 10}
t=6
a.discard(t)
print(a)

{2, 4, 8, 10}

In [300]:
#Compare two sets.
a = {1, 2, 3}
b = {1, 2, 5}
a < b

False

In [315]:
#Create a set from a string.
a='a,b,c,d,e,f,g,h,i,j'
b={}
b=set(a)
print(sorted(b))
type(b)

[',', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

set

In [328]:
#Convert a set of strings to a set of integers.

set1= { '1', '2','77','7' }
set2 = set(map(int, set1))
print(set2)

{1, 2, 77, 7}

In [329]:
#Convert a set of integers to a set of strings.
set1={1, 2, 77, 7}
set2=set(map(str,set1))
print(set2)

{'77', '7', '1', '2'}

In [331]:
#Create a set from a tuple.
mytup=(1,2,3,4,5)
myset=()
myset=set(map(int,mytup))
print(myset)

{1, 2, 3, 4, 5}

In [333]:
#Convert a set to a tuple.
a={1, 2, 3, 4, 5}
b=()
b=tuple(a)
print(b)

(1, 2, 3, 4, 5)

In [334]:
#Find the maximum value in a set.
a={1, 2, 3, 4, 5}
b=max(a)
print(b)

5

In [335]:
#Find the minimum value in a set.
a={1, 2, 3, 4, 5}
b=min(a)
print(b)

1

In [338]:
#Create a set from user input.
user_input = input('Enter space-separated integers: ')
my_tuple = tuple(int(item) for item in user_input.split())

print(my_tuple)

Enter space-separated integers: 1 2 3 4 5
(1, 2, 3, 4, 5)

In [340]:
#Check if the intersection of two sets is empty.
a={'a','b','c','d'}
b={'e','g','h','h'}
for i in a:
    for j in b:
        if (i==j):
            print(' intersection of two sets non-empty')
else:
    print(' yes intersection of two sets are empty')

 yes intersection of two sets are empty

In [348]:
#Create a set of the first 5 Fibonacci numbers.
def gen_fib(n):
    if n <=1:
        return n
        my_fib.append(n)
    else:
        return gen_fib(n-1)+gen_fib(n-2)
gen_fib(5)
for i in set(range(0, 6)):
    print(gen_fib(i), end = " ")

0 1 1 2 3 5

In [11]:
#Remove duplicates from a list using sets.
mylist=[1,2,3,3,3,3,4,5,5,6,7,4]
dup = []
for i in mylist :
    dup=list(set(mylist))
print(dup)

[1, 2, 3, 4, 5, 6, 7]

In [15]:
#Check if two sets have the same elements, regardless of their count.
set1={1,2,3,4}
set2={2,3,4,1}
for i in set1:
    for j in set2:
        if (i==j):
            if len(set1)==len(set2):
                print('two sets does not have the same elements')
        else:
            print('sets have same element')

two sets does not have the same elements
sets have same element
sets have same element
sets have same element
sets have same element
two sets does not have the same elements
sets have same element
sets have same element
sets have same element
sets have same element
two sets does not have the same elements
sets have same element
sets have same element
sets have same element
sets have same element
two sets does not have the same elements

In [18]:
set1={1,2,3,4}
set2={4,3,4,1}
count=0
if len(set1)==len(set2):
    set1=list(set1)
    set2=list(set2)
    for i in range(0,len(set1)):
        for j in range(0,len(set2)):
            if(set1[i]==set2[j]):
                continue
    count+=1
else:
    count=0
if count==1:
    print("Both SETS are equal")
else:
    print('Sets are different')

Sets are different

In [9]:
#Create a set of the first `n` powers of 2.
n = int(input('enter the number of powers of 2 -:'))
mylist=[]

for i in range(1,n+1):
    mylist.append(pow(i,2))
print(sorted(set(mylist)))

enter the number of powers of 2 -:4
[1, 4, 9, 16]

In [22]:
#Find the common elements between a set and a list.
myset={1,2,3,4}
mylist=[2,6,7,8,9]
lst=[]
for i in myset:
    for j in mylist:
        if (i==j):
            lst.append(j)
print(lst)

[2]

In [25]:
#Create a set of the first `n` triangular numbers.
tri=[]

def triangularnum(num):
    sum=0
    for i in range(1,num+1):
        
        sum += i
        tri.append(sum)
    #print(tri)
triangularnum(6)
tri_num=()
tri_num=set(tri)
print(tri_num)

{1, 3, 6, 10, 15, 21}

In [27]:
#Check if a set contains another set as a subset.
a={1, 3, 6, 10, 15, 21}
b={3456,345678,456789}
a.issubset(b)

False

In [33]:
#Create a set of alternating 1s and 0s of length `n`.
n=int(input('enter the length : '))
li=[]
set([1,0] * n)

enter the length : 6

{0, 1}

In [36]:
#Merge multiple sets into one.
a={1, 3, 6, 10, 15, 21}
b={0,1}
a.update(b)
print(a)

{0, 1, 3, 6, 10, 15, 21}